:root {
    /*font Variable*/
    --ff-grotesk: "Space Grotesk", sans-serif;
    --ff-inria-sans: "Inria Sans", sans-serif;
    /*Color Variable*/
    --color-primary-orange: #ff602f;
    --color-black: #19191a;
    --color-white: #ffffff;
  }

  header{
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 1000;
  }
  .menu-div{
    display: flex;
    background: var(--color-white);
    padding: 14px;
    gap: 20px;
    border-radius: 100px;
    border: 1px solid #c1c1c1;
  }
  .button{
    .custom-btn{
      display: flex;
      background: #000;
      padding: 8px;
      border-radius: 100px;
      align-content: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
  
    .custom-btn {
      position: relative;
      overflow: hidden;
      color: var(--color-white);
      border: 2px solid #f9fafb;
      background-color: #000000;
      border-radius: 999px;
      padding-left: 30px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      gap: 10px;
      backdrop-filter: blur(4px);
      z-index: 10;
    }
  
    .custom-btn::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: #717171;
      border-radius: 999px;
      z-index: -1;
      transition: all 0.7s ease;
      transform: scale(1);
    }
  
    .custom-btn:hover::before {
      left: 0;
      transform: scale(1.7);
    }
  
    .custom-btn:hover {
      color: #fff;
    }
    .explore-icon {
      width: 2rem;
      height: 2rem;
      background: var(--color-white);
      padding: 0.35rem;
      border-radius: 50%;
      border: 1px solid #ffffff;
      transition: all 0.3s ease;
      transform: rotate(45deg);
    }
    .custom-btn:hover .explore-icon {
      transform: rotate(90deg);
      border: none;
    }
  
    .explore-icon path {
      fill: #000000;
      transition: fill 0.3s ease;
    }
  
    .custom-btn:hover .explore-icon path {
      fill: #1f2937;
    }
  
  }
  .button-white{
    .custom-btn{
      display: flex;
      background: #ffffff;
      padding: 8px;
      border-radius: 100px;
      align-content: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      color: #000;
    }
  
    .custom-btn {
      position: relative;
      overflow: hidden;
      color: var(--color-white);
      border: 2px solid #ffffff;
      background-color: #ffffff;
      border-radius: 999px;
      padding-left: 30px;
      box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      gap: 10px;
      backdrop-filter: blur(4px);
      z-index: 10;
      color: #000;

    }
  
    .custom-btn::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: #000000;
      color: white;
      border-radius: 999px;
      z-index: -1;
      transition: all 0.7s ease;
      transform: scale(1);
    }
  
    .custom-btn:hover::before {
      left: 0;
      transform: scale(1.7);
    }
  
    .custom-btn:hover {
      color: #fff;
    }
    .explore-icon {
      width: 2rem;
      height: 2rem;
      background-color: #000000;
      color: #000000;
      padding: 0.35rem;
      border-radius: 50%;
      border: 1px solid #ffffff;
      transition: all 0.3s ease;
      transform: rotate(45deg);
    }
    .custom-btn:hover .explore-icon {
      transform: rotate(90deg);
      background: #ffffff;
      border: none;
    }
  
    .explore-icon path {
      fill: #ffffff;
      transition: fill 0.3s ease;
    }
  
    .custom-btn:hover .explore-icon path {
      fill: #000000;
    }
  
  }




  .nav-menu {
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    transition: all 1s ease-out;
    
  }

  .nav-menu.active {
    opacity: 1;
    display: flex;
  }

  .nav-content {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-content a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
  }

  .close-btn {
    font-size: 28px;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 20px;
  }

  .menu-icon, .close-icon {
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  .menu-icon.spin {
    transform: rotate(180deg);
  }




  