.projects-title {
  position: relative;
  text-align: center;

  .section-title-div1 {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .section-title {
    text-transform: uppercase;
  }

  .arrow-div {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 85%;
    display: flex;
    transform: translateX(-50%);
    justify-content: space-between;
    margin: auto;

    .arrow {
      width: 75px;
      height: 75px;
      border: 1px solid rgba(15, 15, 15, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999px;
      background: #fff;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #eee;
      }

      img {
        width: 24px;
        height: auto;
      }
    }
  }
}

.project-image {
  padding: 60px 60px 130px 60px;
  overflow: hidden;
  position: relative;

  .project-track {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
  }

  .project-img-div {
    flex: 0 0 calc(50% - 10px);
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 12px 40px 4px rgba(15, 15, 15, 0.08);
    border-radius: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.6s ease;
    @media only screen and (max-width: 991.98px) {
      flex: 0 0 calc(100% - 20px);
    }

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

    h3 {
      margin-top: 15px;
      text-transform: capitalize;
    }

    .widget-category {
      a {
        color: #555;
        text-decoration: none;
      }
    }

    .pro-img {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
