.hero-sec {
  .section-padding-top-bottom {
    @media screen and (max-width: 767.98px) {
      padding-top: 175px;
    }
  }
}

.hero {
  @media screen and (max-width: 767.98px) {
    .section-padding-top-bottom {
      padding: 0;
    }
  }
}

.hero-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  @media screen and (max-width: 767.98px) {
    width: 100%;
    height: 100%;
  }
}

.right-hero {
  .right-hero-img {
    @media screen and (max-width: 767.98px) {
      position: relative;
      display: flex;
      justify-content: center;
      opacity: 0.3;
      padding-bottom: 50px;
      .right-hero-img-logo {
        position: absolute;
        top: -330%;
        left: 0;
      }
    }
  }
  .right-content {
    position: absolute;
    right: 58px;
    bottom: 80px;
    max-width: 680px;
    margin: auto;
    @media screen and (max-width: 1199.98px) {
      display: none;
    }
  }
}

.hero-image {
  background-image: url("../Assets/images/heroimage.jpeg");
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.moving-img {
  animation: moveUpDown 6s infinite linear;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
}
@media only screen and (max-width: 767.98px) {
  .hero-text {
    text-align: center;
  }
}
