/*================================================
01. Default CSS
=================================================*/

/* Media Query Variable */
/*CSS Variable*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/general-sans");
:root {
  /*font Variable*/
  --ff-General: "General Sans", sans-serif;
  --ff-Inter-sans: "Inter Sans", sans-serif;
  /*Color Variable*/
  --color-primary-orange: #ff602f;
  --color-black: #19191a;
  --color-white: #ffffff;
  --color-black-forest: rgba(84, 84, 84, 1);
}
.body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-gray {
  color: rgba(84, 84, 84, 1);
}
.font-normal-18 {
  font-family: var(--ff-Inter-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}
.font-normal-20 {
  font-family: var(--ff-Inter-sans);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  @media screen and (max-width: 767.98px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  font-family: var(--ff-General);
}

h1,
.h1 {
  font-weight: 600;
  font-size: 160px;
  line-height: 1.062;
  letter-spacing: -2%;
}

h2,
.h2 {
  font-size: 150px;
  line-height: 1.067;
  letter-spacing: -2%;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: -2%;
  font-family: var(--ff-General);
}
.h3-36 {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.28px;
  @media screen and (max-width: 767.98px) {
    font-size: 24px;
    line-height: 34px;
  }
}

h4,
.h4 {
  font-family: var(--ff-General);
  font-size: 110px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: -2%;
  font-family: var(--ff-General);
}

h5,
.h5 {
  font-family: var(--ff-General);
  font-size: 70px;
  line-height: 1.14;
  letter-spacing: -1%;
  font-weight: 600;
}

h6,
.h6 {
  font-size: var(--ff-General);
  font-weight: 600;
  font-size: 50px;
  line-height: 0.71;
  letter-spacing: -1%;
}
.font-100 {
  font-size: var(--ff-General);
  font-size: 100px;
  line-height: 100%;
  letter-spacing: -1.2px;
  font-weight: 600;
  @media screen and (max-width: 767.98px) {
    font-size: 50px;
    line-height: 60px;
  }
}
.h-100 {
  font-size: 90px;
}
.p-14 {
  font-family: var(--ff-Inter-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
}
.p-18 {
  font-family: var(--ff-Inter-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}
.p-20 {
  font-family: var(--ff-Inter-sans);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
}
.p-24 {
  font-family: var(--ff-General);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0%;
  @media screen and (max-width: 991.98px) {
    font-size: 18px;
    line-height: 25px;
  }
}
.p-28 {
  font-family: var(--ff-General);
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0%;
}
.p-36 {
  font-family: var(--ff-General);
  font-weight: 600;
  font-size: 36px;
  // line-height: 46px;
  letter-spacing: -1%;
  @media screen and (max-width: 991.98px) {
    font-size: 25px;
    line-height: 30px;
  }
}

.ps-80 {
  padding-left: 80px;
}
.p-40 {
  font-family: var(--ff-Inter-sans);
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -1%;
  @media screen and (max-width: 991.98px) {
    font-size: 28px;
    line-height: 40px;
  }
}
.p-50 {
  font-family: var(--ff-General);
  font-weight: 600;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1%;
  @media screen and (max-width: 767.98px) {
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1399.98px) {
  h1,
  .h1 {
    font-size: 90px;
  }
}
@media only screen and (max-width: 1199.98px) {
  h1,
  .h1 {
    font-size: 80px;
  }
  h2,
  .h2 {
    font-size: 50px;
  }
  h3,
  .h3 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 991.98px) {
  h1,
  .h1 {
    font-size: 60px;
  }
  h2,
  .h2 {
    text-align: center;
    font-size: 75px;
    line-height: 78px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
  h4,
  .h4 {
    font-size: 22px;
  }
  h5,
  .h5 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 767.98px) {
  h1,
  .h1 {
    font-size: 50px;
  }
  h2,
  .h2 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
  h5,
  .h5 {
    font-size: 35px;
    text-align: center;
  }
}
html {
  overflow-x: clip;
}

body {
  overflow-x: clip;
  color: var(--color-black);
  font-family: var(--ff-Inter-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  background: var(--color-white);
}
@media only screen and (max-width: 991.98px) {
  body {
    font-size: 16px;
  }
}

p {
  margin-bottom: 0;
  font-family: var(--ff-Inter-sans);
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0%;
}
.p {
  font-family: var(--ff-Inter-sans);
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 1.57;
  letter-spacing: 0%;
}

/* Common Class */

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-sz-40 {
  font-size: 40px;
}

.font-sz-28 {
  font-size: 28px !important;
}

.font-General {
  font-family: var(--ff-General);
}

/* Common Class End */
ul.custom-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
============================================
============= Custom Scroll Bar CSS ================
*/
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

#smooth-content {
  background-color: var(--color-white);
}

/*
============================================
============= Custom Scroll Bar CSS End ================
*/
/*
============= Preloader CSS ================
*/

/*
  ============= Preloader CSS END ================
    */

/*Back to Top btn End*/
@media (min-width: 100px) {
  .container.custom-container {
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container.custom-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .container {
    margin-left: calc((100% - 970px) / 2);
    width: 90% !important;
    min-width: auto;
    max-width: inherit;
  }
  .container.custom-container.left-align {
    margin-right: calc((100% - 970px) / 2);
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-left: calc((100% - 1143px) / 2);
    width: auto;
    min-width: auto;
    max-width: inherit;
  }
  .container.custom-container.left-align {
    margin-right: calc((100% - 1143px) / 2);
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  .container.custom-container {
    margin-left: calc((100% - 1366px) / 2);
    width: auto;
    min-width: auto;
    max-width: inherit;
  }
  .container,
  .custom-container,
  .left-align {
    margin-right: calc((100% - 1366px) / 2);
  }
}
.structa_screenfix_right {
  margin-right: calc((-100vw + 100%) / 2);
}

.structa_screenfix_left {
  margin-left: calc((-100vw + 100%) / 2);
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1638px;
    margin: auto;
  }
  .container.container-ex-large,
  .container-lg.container-ex-large,
  .container-md.container-ex-large,
  .container-sm.container-ex-large,
  .container-xl.container-ex-large,
  .container-xxl.container-ex-large {
    max-width: 1660px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.button-white {
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  padding: 10px 18px;
  border-radius: 30px;

  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;

  .custom-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 6px;
    background-color: var(--color-white);

    border: none;
    .explore-circle {
      height: 40px;
      width: 40px;
      background: black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .explore-icon {
        width: 20.2px;
        height: 20.2px;
        fill: white;
        transform: rotate(45deg);
        transition: transform 0.3s ease; // smooth icon animation
      }
    }

    @media (max-width: 767px) {
      padding: 6px 14px;
    }
    &:hover {
      .explore-icon {
        transform: rotate(90deg); // rotate icon on hover
      }
    }
  }

  &:hover {
    transform: translateY(-2px) scale(1.04);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.384);
  }
}

.button-black {
  background-color: var(--color-black);
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  p {
    color: var(--color-white);
  }
  .custom-btn {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 6px;
    background-color: var(--color-black);
    flex-direction: row;
    transition: flex-direction 0.9s ease;
    border: none;
    &:hover {
      display: flex;
      flex-direction: row-reverse;
      transition: flex-direction 0.7s ease;
    }
    .explore-circle {
      height: 40px;
      width: 40px;
      background: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .explore-icon {
        width: 20.2px;
        height: 20.2px;
        fill: rgb(0, 0, 0);
        transform: rotate(45deg);
        transition: all 0.3s ease; // smooth icon animation
      }
    }

    @media (max-width: 767px) {
      padding: 6px 14px;
    }
    &:hover {
      .explore-icon {
        transform: rotate(90deg); // rotate icon on hover
      }
    }
  }

  // &:hover {
  //   transform: translateY(-2px) scale(1.04);
  //   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.384);
  // }
}

.rotation {
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
