* {
  margin: 0;
  padding: 0;
}

.section-title-div-center {
  display: flex;
  align-items: center;
  color: rgb(15, 15, 15, 1);
  gap: 16px;
  .line {
    height: 2px;
    width: 50px;
    background: #000;
  }
  .section-title {
    font-family: var(--ff-Inter-sans);
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  @media screen and (max-width: 1399px) {
    justify-content: center;
    .section-title {
      font-size: 16px;
    }
  }
}
.section-title-div {
  display: flex;
  align-items: center;
  color: rgb(15, 15, 15, 1);
  gap: 16px;
  .line {
    height: 2px;
    width: 50px;
    background: #000;
  }
  .section-title {
    font-family: var(--ff-Inter-sans);
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  @media screen and (max-width: 1399px) {
    justify-content: center;
    .section-title {
      font-size: 16px;
    }
  }
}

.section-margin-top {
  margin-top: 130px;
}

.section-margin-bottom {
  margin-bottom: 130px;
}

.section-title-margin-bottom {
  margin-bottom: 15px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 10px;
  }
}

.section-margin-top-bottom {
  margin-top: 130px;
  margin-bottom: 130px;
}
.section-ptb {
  padding-top: 130px;
  padding-bottom: 130px;
}

.row-mt {
  margin-top: 60px;
}

.row-mb {
  margin-bottom: 50px;
}
.row-g-24 {
  row-gap: 24px;
}

.section-pt {
  padding-top: 130px;
}

.section-pb {
  padding-bottom: 130px;
}

.section-ptb-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.section-pt-bottom {
  padding-top: 130px;
  padding-bottom: 130px;
}
.row-pb-130 {
  padding-bottom: 130px;
}
.row-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.row-pt {
  padding-top: 60px;
}

.row-pb {
  padding-bottom: 60px;
}
.pt-150 {
  padding-top: 150px;
}
@media only screen and (max-width: 1199.98px) {
  .section-margin-top {
    margin-top: 80px;
  }
  .section-margin-bottom {
    margin-bottom: 80px;
  }
  .section-margin-top-bottom {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .row-mt {
    margin-top: 45px;
  }
  .row-mb {
    margin-bottom: 45px;
  }
  .section-pt {
    padding-top: 80px;
  }
  .section-pb {
    padding-bottom: 80px;
  }
  .section-pt-bottom {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .row-pt {
    padding-top: 45px;
  }
  .row-pb {
    padding-bottom: 45px;
  }
}
@media only screen and (max-width: 991.98px) {
  .section-margin-top {
    margin-top: 65px;
  }
  .section-margin-bottom {
    margin-bottom: 65px;
  }
  .section-margin-top-bottom {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .row-mt {
    margin-top: 35px;
  }
  .row-mb {
    margin-bottom: 35px;
  }
  .section-pt {
    padding-top: 65px;
  }
  .section-pb {
    padding-bottom: 65px;
  }
  .section-pt-bottom {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .row-pt {
    padding-top: 45px;
  }
  .row-pb {
    padding-bottom: 35px;
  }
}
@media only screen and (max-width: 991.98px) and (max-width: 767.98px) {
  .row-pb.extend {
    padding-bottom: 0px;
  }
}
.mr-20 {
  margin-right: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-55 {
  margin-top: 55px;
}

.mt-14 {
  margin-top: 14px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-14 {
  margin-bottom: 14px;
}
.pt-30 {
  padding-top: 30px;
}
.pe-40 {
  padding-right: 40px;
}
.pe-108 {
  padding-right: 108px;
  @media screen and (max-width: 1024.98px) {
    padding-right: 0;
  }
}
.ps-108 {
  padding-left: 108px;
  @media screen and (max-width: 1024.98px) {
    padding-left: 0;
  }
}
.mb-100 {
  margin-bottom: 100px;
  @media screen and (max-width: 761.98px) {
    margin-bottom: 50px;
  }
}
.mt-130 {
  margin-top: 130px;
  @media screen and (max-width: 761.98px) {
    margin-top: 80px;
  }
}
.mt-110 {
  margin-top: 110px;
}
.pb-40 {
  padding-bottom: 40px;
}
.ms-24 {
  margin-left: 24px;
}
@media only screen and (max-width: 1199.98px) {
  .mt-24 {
    margin-top: 20px;
  }
  .mt-40 {
    margin-top: 30px;
  }
  .mb-24 {
    margin-bottom: 20px;
  }
  .mb-40 {
    margin-bottom: 30px;
  }
}
.line {
  height: 2px;
  background: #000;
  margin-right: 16px;
}
.line-white {
  height: 2px;
  width: 40px;
  background: #ffffff;
  margin-right: 16px;
}

.ms-130 {
  margin-left: 130px;
}
.social-icon {
  width: 52px;
  height: 52px;
  background: rgba(30, 30, 30, 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }

  i {
    font-size: 1rem;
  }
}

hr {
  border-color: #333;
}
.sm-text-center {
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}
.justify-sm-center {
  @media screen and (max-width: 767.98px) {
    display: flex;
    justify-content: center;
  }
}

/*Back to Top btn End*/
@media (min-width: 100px) {
  .container,
  .container1 {
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .container {
    margin-left: calc((100% - 970px) / 2);
    width: 90% !important;
    min-width: auto;
    max-width: inherit;
  }
  .container {
    margin-right: calc((100% - 970px) / 2);
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-left: calc((100% - 1143px) / 2);
    width: auto;
    min-width: auto;
    max-width: inherit;
  }
  .container {
    margin-right: calc((100% - 1143px) / 2);
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  .container {
    margin-left: calc((100% - 1366px) / 2);
    width: auto;
    min-width: auto;
    max-width: inherit;
  }
  .container {
    margin-right: calc((100% - 1366px) / 2);
  }
}
.structa_screenfix_right {
  margin-right: calc((-100vw + 100%) / 2);
}

.structa_screenfix_left {
  margin-left: calc((-100vw + 100%) / 2);
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1638px;
    margin: auto;
  }
  .container.container-ex-large,
  .container-lg.container-ex-large,
  .container-md.container-ex-large,
  .container-sm.container-ex-large,
  .container-xl.container-ex-large,
  .container-xxl.container-ex-large {
    max-width: 1660px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.container1 {
  max-width: 1604px;
  margin: auto;
}
@media (min-width: 1400px) {
  .container1 {
    max-width: 1604px;
    margin: auto;
  }
}
