.footer-bg {
  background-image: url("/Assets/images/footer/bg.webp");
  background-size: cover;
  .bg {
    background: rgba(0, 0, 0, 0.613);
    .footer-top-content {
      .left-content {
        span {
          margin-left: 274px;
          font-weight: 500;
          @media screen and (max-width: 761.98px) {
            margin-left: 0;
          }
        }
      }
      .right-content {
        .right-top-content {
          display: flex;

          align-items: baseline;
          .paragrap {
            margin-left: 16px;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            @media screen and (max-width: 761.98px) {
              font-size: 16px;
              line-height: 24px;
              margin-left: 0;
            }
          }
        }
        .right-bottom-content {
          margin-top: 40px;
        }
        .line-white {
          width: 50px;
          height: 2px;
          background: rgb(255, 255, 255);
        }
      }
    }
  }
}
// .text-ring {
//   position: relative;
// }
// .text-ring[style*="--index"] {
//   font-weight: bold;
//   text-transform: uppercase;
//   font-size: calc(var(--font-size, 2) * 14px);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: spin translate(-50%, -50%)
//     rotate(calc(360deg / var(--total) * var(--index)))
//     translateY(calc(var(--radius, 5) * -1ch));
// }

// @keyframes spin{
//     100%{
//         transform: rotate(360deg);
//     }
// }

.circle-wrapper {
  position: relative;
  width: 320px;
  height: 320px;
  animation: rotate 12s linear infinite;
}

.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.circle-text span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.center-icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  filter: invert(1);
}

/* Animation */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.footer-contact {
  margin-top: 12px;
  p {
    margin-top: 10px;
  }
}
