.hero-sec {
  .section-padding-top-bottom {
    @media screen and (max-width: 767.98px) {
      padding-top: 175px;
    }
  }
  .position-sec {
    position: relative;
    .right-hero {
      .right-content {
        position: absolute;
        right: 58px;
        bottom: 80px;
        max-width: 680px;
        margin: auto;
        @media screen and (max-width: 1199.98px) {
          display: none;
        }
      }
    }
  }
}

.hero {
  @media screen and (max-width: 767.98px) {
    .section-padding-top-bottom {
      padding-top: 0;
      padding-bottom: 100px;
    }
  }
}

.right-hero-img {
  width: 444px;
  right: 0;

  .right-hero-img-logo {
    width: 100%;
    top: -330%;
  }
  @media screen and (max-width: 991.98px) {
    right: 20%;
    opacity: 0.4;
  }
  @media screen and (max-width: 767.98px) {
    right: 20%;
    opacity: 0.4;
    width: 244px;
  }
}
.hero-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero-image {
  background-image: url("../Assets/images/heroimage.jpeg");
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.moving-img {
  animation: moveUpDown 6s infinite linear;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-1px);
  }
}
@media only screen and (max-width: 767.98px) {
  .hero-text {
    text-align: center;
  }
}
