$primary-color: #000000;
$secondary-color: #f5f5f5;
$background-color: #ffffff;
$font-base: "General Sans", sans-serif;
$header-font: 100px;
$font-size-base: 16px;
$button-radius: 20rem;
$font-size-sm: 16px;
$font-size-md: 14px;
$font-size-lg: 20px;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ddd;
  margin-top: 2%;
  font-size: $font-size-base;
}

.logo-img {
  width: 100px;
  object-fit: contain;
}

// common css  ===========================

.custom-navbar2,
.custom-navbar {
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1000;
  // background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  margin: 0 auto;
}
.custom-navbar2 {
  background: rgba(255, 0, 0, 0);
  backdrop-filter: blur(0px);
  border: none;
  .logo-section {
    padding: 10px 30px;
  }
}
.In-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  font-size: $font-size-md;
  @media (max-width: 767px) {
    gap: 10px;
  }
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  font-size: $font-size-md;
}
.offcanvas {
  background-color: transparent;
  color: $secondary-color;
  padding: 20px;
  width: 250px;
  backdrop-filter: blur(10px);
  font-size: $font-size-md;
  border-left: #ffffff 2px solid !important;
  border-radius: 15px;
  box-shadow: 0 1px 100px rgba(0, 0, 0, 1);
}
.nav-padding {
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 100px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.nav-item-ul {
  display: block;
  padding-right: 50px;
  @media (max-width: 991px) {
    display: none;
  }
}

/* From Uiverse.io by JulanDeAlb */
.hamburger {
  cursor: pointer;
}
.hamburger-circle {
  height: 44px;
  width: 44px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
