.Pricing-bg {
  background: rgba(245, 245, 245, 1);
}
.bg-gray {
  .pricing-card-div {
    .pricing-card {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 50px 48px;
      background: rgb(255, 255, 255);
      border-radius: 18px;

      &:hover {
        .pricing-card-svg {
          fill: #fec107 !important;
        }
      }
      .card-top {
        position: absolute;
        top: 0;
        right: -1px;
        .pricing-card-svg {
          transition: all 0.6s ease;

          position: relative;
          fill: rgb(245, 245, 245);
        }
      }
    }
  }
}

.pricing-content {
  text-align: center;
}

.pricing-card-div {
  .row {
    display: flex;
    justify-content: center;
    row-gap: 24px;
  }
  .pricing-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 48px;
    background: rgb(245, 245, 245);
    border-radius: 18px;

    &:hover {
      .pricing-card-svg {
        fill: #fec107 !important;
      }
    }
    .card-top {
      position: absolute;
      top: 0;
      right: -1px;
      .pricing-card-svg {
        transition: all 0.6s ease;

        position: relative;
        fill: rgb(255, 255, 255);
      }
    }
    .discount {
      position: absolute;
      top: 10px;
      right: 15px;
      p {
        display: flex;
        align-items: center;
        svg {
          margin-right: 8px;
        }
      }
    }
    .pricing-card-title {
      .p-18 {
        padding-top: 10px;
        color: rgba(84, 84, 84, 0.71);
      }
    }
    .price {
      h2 span {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: rgba(84, 84, 84, 0.71);
      }
    }
    .price-details {
      border-radius: 18px;
      @media screen and (max-width: 991.98px) {
        padding: 10px 14px 20px 14px;
      }
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        list-style: none;
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
      }
      button {
        border: 1px solid black;
        width: 100%;
        padding: 17px 0;
        background: transparent;
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        border-radius: 40px;
        margin-top: 44px;
        transition: all 0.4s ease;
        svg {
          fill: black;
          transition: all 0.4s ease;
        }
        &:hover {
          background: #000;
          color: white;
          svg {
            fill: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

.folder-shape {
  width: 516px;
  height: 662px;
  background-color: #fbbc04; /* ছবির মতো হলুদ রঙ */
  border-radius: 20px;
  position: relative;
}
