.projects-title {
  position: relative;
  text-align: center;
  @media screen and (max-width: 767.98px) {
    position: none;
  }
  .section-title-div1 {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .section-title {
    text-transform: uppercase;
  }
}

.project-image {
  padding: 60px 60px 130px 60px;
  overflow: hidden;
  position: relative;

  .project-track {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
  }

  .project-img-div {
    flex: 0 0 calc(50% - 10px);
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 12px 40px 4px rgba(15, 15, 15, 0.08);
    border-radius: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.6s ease;
    .pro-details {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      .pro-details-left {
        display: flex;
        justify-content: space-between;
        gap: 60px;
      }
    }
    @media only screen and (max-width: 991.98px) {
      flex: 0 0 calc(100% - 19px);
    }

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

    h3 {
      margin-top: 15px;
      text-transform: capitalize;
    }

    .widget-category {
      display: flex;
      gap: 12px;
      margin-top: 28px;
      a {
        color: #555;
        text-decoration: none;
        line-height: 1;
      }
    }

    .pro-img {
      height: 600px;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
      @media screen and (max-width: 767.98px) {
        height: 270px;
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    padding: 60px 0;
  }
}

.arrow-div {
  position: absolute;
  left: 50%;
  top: 5%;
  width: 85%;
  display: flex;
  transform: translateX(-50%);
  justify-content: space-between;
  margin: auto;
  @media screen and (max-width: 767.98px) {
    width: 100%;
    top: 40%;
    z-index: 99;
  }

  .arrow {
    width: 75px;
    height: 75px;
    border: 1px solid rgba(15, 15, 15, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: #fff;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #eee;
    }

    img {
      width: 24px;
      height: auto;
    }
  }
}

.year-btn {
  padding: 0px 20px;
  background: none;
  border: 1px solid #000;
  border-radius: 50px;
  transform: rotate(315deg);
}

.project-img-div {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.6s ease-in-out;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
