.QA-div {
  .accordions {
    border: none !important;
    margin-left: 164px;
    @media screen and (max-width: 1199.98px) {
      margin-left: 80px;
    }
    .accordion-button {
      padding-top: 37px;
      padding-bottom: 37px;
    }
    .accordion-header {
      border: none !important;
      // border-bottom: 2px red solid;
    }
    .accordion-button:not(.collapsed) {
      color: black;
      background: none;
    }
    .accordion-button:focus {
      box-shadow: none;
    }
    .accordion-body {
    }
    @media screen and (max-width: 991px) {
      margin-left: 0;
      .accordion-button {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  }
}
