.success-img-div {
    margin-top: -328px;
    .success-img {
      margin-top: 60px;
      img {
        height: 700px;
        width: 100%;
        object-fit: cover;
        border-radius: 18px;
      }
    }
  } 