.circle-sec-div {
  .row {
    justify-content: center;
    .col-3 {
      padding: 0;
      margin-left: -25px;
      @media screen and (max-width: 1024.98px) {
        margin-left: -15px;
      }
      &:nth-child(1) {
        margin-left: 0;
      }
      .circle {
        width: 100%;
        aspect-ratio: 1 / 1;
        // height: 420px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1.2rem;
        border: 1px solid rgba(84, 84, 84, 0.3);
        .h-90 {
          font-size: 60px;
        }
        .p-24 {
          font-size: 18px;
        }
        @media screen and (max-width: 991.98px) {
          .h-90 {
            font-size: 50px;
          }
          .p-24 {
            font-size: 13px;
          }
        }
        @media screen and (max-width: 767.98px) {
          .h-90 {
            font-size: 30px;
          }
          .p-24 {
            font-size: 9px;
          }
        }}
    }
  }
}
