.review-sec {
  background-image: url("../Assets/images/review/bg.png");
  background-size: cover;

  @media only screen and (max-width: 991.98px) {
    background-image: none;
  }
}

.review-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    width: 50%;
  }
  .left-right-arrow {
    display: flex;
    gap: 24px;
    align-items: center;
    transition: all 0.3s ease;
    .arrow-divs {
      height: 60px;
      width: 60px;
      border-radius: 999px;
      border: 2px solid rgba(15, 15, 15, 0.5);
      display: flex;
      justify-content: center;
      transition: all 0.3s ease;
      align-items: center;
      cursor: pointer;
      svg {
        path {
          fill: rgba(0, 0, 0, 0.25);
        }
      }
      &:hover {
        background: black;
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    flex-direction: column;
    align-items: flex-start;
    .title {
      width: 100%;
    }
    .left-right-arrow {
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.review-cards-sec {
  top: 0;
  left: 0;
  display: flex;
  gap: 28px;

  position: relative;

  .total-rate-card-up {
    background-image: url("/Assets/images/Home2/review/cardbg.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    overflow: hidden;
    .total-rate-card {
      background: rgba(15, 15, 15, 0.8);
      width: 516px;
      padding: 70px 30px 80px 30px;
      display: flex;
      gap: 47px;
      flex-direction: column;
      align-items: center;
      h1 {
        color: white;
        margin-bottom: 11px;
      }
      .font-normal-20 {
        color: rgba(255, 255, 255, 0.5);
        margin-top: 5px;
      }
    }
  }
  .overflow {
    overflow: hidden;
    position: absolute;
    left: 40%;
    @media only screen and (max-width: 991.98px) {
    }
  }
  .testimonial {
    display: flex;
    gap: 28px;
    transition: transform 0.5s ease;
    will-change: transform;
  }
  .slider-track1 {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
  }
  .testimonial-card {
    height: 494px;
    width: 788px;
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border: 1px solid #eee;
    padding: 50px;
    .left-panel {
      background: #ffffff;
      border-left: 2px solid #ddd;
      text-align: start;
      writing-mode: vertical-rl;
      margin: 0;
      transform: rotate(180deg);
      flex-shrink: 0;
      padding-left: 50px;
      p {
        margin: 0;
      }
      .p-36 {
        margin-left: 18px !important;
      }
    }

    .right-panel {
      padding-left: 50px;
      flex: 1;
      .quote {
        font-size: 40px;
        line-height: 1;
        color: #000;
        margin-bottom: 22px;
      }

      .text {
        font-size: 16px;
        color: #333;
        line-height: 1.6;
      }

      .stars {
        color: #f1c40f;
        font-size: 20px;
        margin-top: 40px;
      }
    }
  }

  @media only screen and (max-width: 991.98px) {
    flex-direction: column-reverse;
    .total-rate-card-up {
      .total-rate-card {
        width: 100%;
      }
    }

    .testimonial-card {
      height: auto;
      width: 100%;
      padding: 15px;
      .left-panel {
        padding-left: 20px;
      }
      .right-panel {
        .quote {
          font-size: 30px;
          line-height: 1;
          color: #000;
          margin-bottom: 0px;
        }
        .text {
          font-size: 14px;
          color: #333;
          line-height: 1.3;
        }
      }
    }
    .overflow {
      position: relative;
      left: 0;
      width: 100%;
    }
  }
  @media only screen and (max-width: 446.98px) {
    flex-direction: column-reverse;
    .total-rate-card-up {
      .total-rate-card {
        width: 405px;
      }
    }

    .testimonial-card {
      width: 405px;
    }
  }
}

.slider1 {
  margin-right: 2px;
  flex-shrink: 0;
}
