.success {
  .success-bg {
    width: 100%;
    height: 691px;
    background-image: url("/Assets/images/Home2/success/bg.png");
    background-size: cover;
    color: white;
    @media only screen and (max-width: 991.98px) {
      background-image: none;
    }
    .success-title-sec {
      .row {
        .btn-div {
          width: fit-content;
          //   text-decoration: underline;
          border-bottom: 2px solid #ffffff;
        }
      }
    }
  }
  .success-img-div {
    margin-top: -328px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    @media screen and (max-width: 1199.98px) {
      row-gap: 40px;
    }
    @media screen and (max-width: 991.98px) {
      margin-top: -410px;
      row-gap: 30px;
    }
    .success-img-cont {
      width: 50%;
      img {
        height: 700px;
        width: 100%;
        object-fit: cover;
        border-radius: 18px;
      }
    }
  }
}
.success-img-div .success-img-cont:nth-child(1),
.success-img-div .success-img-cont:nth-child(4) {
  width: 100%;
}

.success-img-div .success-img-cont:nth-child(3) {
  padding-left: 30px;
  @media screen and (max-width: 1199.98px) {
    padding-left: 20px;
  }
  @media screen and (max-width: 991.98px) {
    padding-left: 15px;
  }
}
.success-img-div .success-img-cont:nth-child(2) {
  padding-right: 30px;
  @media screen and (max-width: 1199.98px) {
    padding-right: 20px;
  }
  @media screen and (max-width: 991.98px) {
    padding-right: 15px;
  }
}
